h1{
  font-size: 32px;
  color: orange;
  text-align: center;
}

nav li {
  margin: 0;
  padding: 0 10px;
  display: inline; 
}

nav ul{
  display: inline;
}

.hero{
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/bg.jpg");
  background-size: cover;
}
