h1{
  font-size: 32px;
  color: orange;
  position: fixed;
  top: 0px;
  left: 0px;
}

.projects{
  border: 2px solid #000;
  text-align: center;
  padding: 15px;
  margin-top: 50px;
  margin-right: 200px;
  margin-left: 200px;
}

h3{
  text-align: center;
}

nav li {
  margin: 0;
  padding: 0 10px;
  display: inline; 
}

nav ul{
  display: inline;
  float: right;
}

img {
  positon: fixed;
  top:200px;
  left:0px;
}

