h1{
  font-size: 32px;
  color: orange;
  text-align: center;
}

p{
  border: 2px solid #000;
  text-align: center;
  padding: 50px;
  margin-top: 50px;
  margin-right: 150px;
  margin-left: 150px;
}

nav li {
  margin: 0;
  padding: 0 10px;
  display: inline; 
}

nav ul{
  display: inline;
}

.hero{
  background-image: url("images/mountains.jpg");
  background-size: cover;
}
